[submodule "client"]
	path = client
	url = https://github.com/thiago-shimada/f1-dashboard-client.git
[submodule "server"]
	path = server
	url = https://github.com/thiago-shimada/f1-dashboard-server.git
